*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(#b7328d, #52235d, #1e1520);
    height: 100vh;

}

.container{
    border: outset 50px rgba(2, 2, 2, 0.2) ;
}

table{
    color:#ffff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}
thead{
    background:rgba(243, 140, 210, 0.4) ;
}
th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}
td{
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

tbody tr td .par:hover{
cursor: pointer;
}


h1{
    font-size: 66px;
    margin: 50px;
    color: #6e2356;
    
}
tbody tr .par {
    border: groove black;
}
tbody tr .par:hover{
background: rgba(243, 103, 199, 0.4);
}

.pro:hover{
   background: #1e1520;
}
.pro{
    border: groove #1e1520;
}