*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(#b7328d, #52235d, #1e1520);
    height: 100vh;

}

.container{
    border: solid 1px rgba(2, 2, 2, 0.2) ;
}

table{
    color:#ffff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}
thead{
    background:rgba(243, 140, 210, 0.4) ;
}
th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}
td{
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

tbody tr{
cursor: pointer;
}

tbody tr:hover {
background:rgba(243, 103, 199, 0.4) ;

}
.titulo{
    font-size: 27px;
    margin: 50px;
}