*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100ch;
    background:linear-gradient(#b7328d, #ac18c0)

}

.container{
    border: solid 1px rgba(2, 2, 2, 0.2) ;
}

table{
    color:#ffff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}
thead{
    background:rgba(243, 140, 210, 0.4) ;
}
th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}